dist/blocks/footer.html

<div class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__col footer__col--start">
        <div class="footer__title">Löydä lähin luotettava tekijä!</div>
        <div class="footer__text">Tekijäpankista löydät osaavat ja luotettavat tekijät maalaustyöllesi.</div><a class="footer__link" href="#">löydät</a>
      </div>
      <div class="footer__col">
        <div class="footer__title">Yleistä</div><a class="footer__link" href="#">löydät</a><a class="footer__link" href="#">löydät</a>
      </div>
      <div class="footer__col">
        <div class="footer__title">Seuraa meitä</div><a class="footer__link" href="#">Facebook</a><a class="footer__link" href="#">Google+</a>
      </div>
    </div>
  </div>
</div>

src/templates/blocks/footer.pug
div.footer
	div.container
		div.footer__row
			div.footer__col.footer__col--start
				div.footer__title Löydä lähin luotettava tekijä!
				div.footer__text Tekijäpankista löydät osaavat ja luotettavat tekijät maalaustyöllesi.
				a(href="#").footer__link löydät

			div.footer__col
				div.footer__title Yleistä
				a(href="#").footer__link löydät
				a(href="#").footer__link löydät

			div.footer__col
				div.footer__title Seuraa meitä
				a(href="#").footer__link Facebook
				a(href="#").footer__link Google+
