dist/blocks/header.html

<div class="header">
  <div class="header__top">
    <div class="container"><a class="header__logo" href="#"><img src="assets/images/static/header__logo.jpg" alt=""/></a>
      <div class="header__title">Tekijäpankki</div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__burger"><i class="fas fa-bars"></i></div>
      <div class="header__bottom-row">
        <div class="header__menu"><a class="header__link" href="#"><i class="fas fa-home"></i></a><a class="header__link" href="#">Tekijät</a><a class="header__link" href="#">Tietoa palvelusta</a></div><a class="header__button button button--white" href="#">Pyydä tarjous</a>
      </div>
    </div>
  </div>
  <div class="m-mobile"><a class="m-mobile__link" href="#">Tekijät</a><a class="m-mobile__link" href="#">Tietoa palvelusta</a><a class="m-mobile__link" href="#">Pyydä tarjous</a></div>
</div>

src/templates/blocks/header.pug
div.header
	div.header__top
		div.container
			a(href="#").header__logo
				img(src="assets/images/static/header__logo.jpg", alt="")
			div.header__title Tekijäpankki

	div.header__bottom
		div.container
			div.header__burger <i class="fas fa-bars"></i>
			div.header__bottom-row
				div.header__menu
					a(href="#").header__link <i class="fas fa-home"></i>
					a(href="#").header__link Tekijät
					a(href="#").header__link Tietoa palvelusta
				a(href="#").header__button.button.button--white Pyydä tarjous

	div.m-mobile
		a(href="#").m-mobile__link Tekijät
		a(href="#").m-mobile__link Tietoa palvelusta
		a(href="#").m-mobile__link Pyydä tarjous

	
