dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible&quot;,content=&quot;IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>main page</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/media.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  </head>
  <body>
    <div class="page">
      <div class="header">
        <div class="header__top">
          <div class="container"><a class="header__logo" href="#"><img src="assets/images/static/header__logo.jpg" alt=""></a>
            <div class="header__title">Tekijäpankki</div>
          </div>
        </div>
        <div class="header__bottom">
          <div class="container">
            <div class="header__burger"><i class="fas fa-bars"></i></div>
            <div class="header__bottom-row">
              <div class="header__menu"><a class="header__link" href="#"><i class="fas fa-home"></i></a><a class="header__link" href="#">Tekijät</a><a class="header__link" href="#">Tietoa palvelusta</a></div><a class="header__button button button--white" href="#">Pyydä tarjous</a>
            </div>
          </div>
        </div>
        <div class="m-mobile"><a class="m-mobile__link" href="#">Tekijät</a><a class="m-mobile__link" href="#">Tietoa palvelusta</a><a class="m-mobile__link" href="#">Pyydä tarjous</a></div>
      </div>
      <div class="content">
        <div class="p-top">
          <div class="container">
            <div class="p-top__row">
              <div class="h-search">
                <div class="h-search__title">Hae</div>
                <form class="h-search__form">
                  <input class="h-search__input" type="text">
                  <button class="h-search__button" type="submit"><i class="fas fa-search"></i></button>
                </form>
              </div>
              <div class="type">
                <div class="type__title">Lajitteluperuste</div>
                <div class="type__row"><a class="type__item type__item--active" href="" data-type="Työnäytteet">Työnäytteet </a><a class="type__item" href="" data-type="Nimi">Nimi</a><a class="type__item" href="" data-type="Palaute">Palaute</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sort">
          <div class="container">
            <div class="sort__title">Valitse maalaustyö</div>
            <div class="sort__row"><a class="sort__item button button--tag" href="#" data-category="Terassit">Terassit</a><a class="sort__item button button--tag" href="#" data-category="Katot">Katot</a><a class="sort__item button button--tag" href="#" data-category="Puujulkisivut">Puujulkisivut</a><a class="sort__item button button--tag" href="#" data-category="Tasoitustyöt">Tasoitustyöt</a><a class="sort__item button button--tag" href="#" data-category="Efektimaalaus">Efektimaalaus</a><a class="sort__item button button--tag" href="#" data-category="Lattiat">Lattiat</a><a class="sort__item button button--tag" href="#" data-category="Kivijulkisivut ja sokkelit">Kivijulkisivut ja sokkelit</a><a class="sort__item button button--tag" href="#" data-category="Ovet ikkunat ja kalusteet">Ovet ikkunat ja kalusteet</a></div>
          </div>
        </div>
        <div class="s-note">Ovet ikkunat ja kalusteet</div>
        <div class="results">
          <div class="container">
            <div class="r-card" data-type="Nimi" data-categories="Katot">
              <div class="r-card__image-wrapper"><img class="r-card__image" src="http://via.placeholder.com/140x140" alt=""></div>
              <div class="r-card__content"><a class="r-card__title" href="#">Tammijuuri 1</a>
                <div class="r-card__placement"><i class="fas fa-map-marker"></i> HELSINKI</div><a class="r-card__contact" href="tel:+358407350437"><i class="fas fa-phone"></i> +358407350437</a><a class="r-card__contact" href="mailto:"><i class="far fa-envelope"></i> lauri@tammijuuri.fi</a>
                <div class="r-card__text">Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja</div>
                <div class="r-card__tags"><span class="r-card__tag">Terassit</span><span class="r-card__tag">Katot</span><span class="r-card__tag">Puujulkisivut</span><span class="r-card__tag">Tasoitustyöt</span><span class="r-card__tag">Sisämaalaukset</span><span class="r-card__tag">Lattiat</span><span class="r-card__tag">Ovet ikkunat ja kalusteet</span></div>
              </div>
              <div class="r-card__more">
                <div class="r-card__more-button"><a class="button button--green" href="#">Pyydä tarjous!</a></div>
                <div class="house">
                  <div class="house__icon"><i class="fas fa-warehouse"></i></div>
                  <div class="house__value">11</div>
                </div>
              </div>
            </div>
            <div class="r-card" data-type="Työnäytteet" data-categories="Puujulkisivut">
              <div class="r-card__image-wrapper"><img class="r-card__image" src="http://via.placeholder.com/140x140" alt=""></div>
              <div class="r-card__content"><a class="r-card__title" href="#">Tammijuuri 2</a>
                <div class="r-card__placement"><i class="fas fa-map-marker"></i> HELSINKI</div><a class="r-card__contact" href="tel:+358407350437"><i class="fas fa-phone"></i> +358407350437</a><a class="r-card__contact" href="mailto:"><i class="far fa-envelope"></i> lauri@tammijuuri.fi</a>
                <div class="r-card__text">Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja</div>
                <div class="r-card__tags"><span class="r-card__tag">Terassit</span><span class="r-card__tag">Katot</span><span class="r-card__tag">Puujulkisivut</span><span class="r-card__tag">Tasoitustyöt</span><span class="r-card__tag">Lattiat</span><span class="r-card__tag">Ovet ikkunat ja kalusteet</span></div>
              </div>
              <div class="r-card__more">
                <div class="r-card__more-button"><a class="button button--green" href="#">Pyydä tarjous!</a></div>
                <div class="house">
                  <div class="house__icon"><i class="fas fa-warehouse"></i></div>
                  <div class="house__value">11</div>
                </div>
              </div>
            </div>
            <div class="r-card" data-type="Palaute" data-categories="Terassit">
              <div class="r-card__image-wrapper"><img class="r-card__image" src="http://via.placeholder.com/140x140" alt=""></div>
              <div class="r-card__content"><a class="r-card__title" href="#">Tammijuuri 3</a>
                <div class="r-card__placement"><i class="fas fa-map-marker"></i> HELSINKI</div><a class="r-card__contact" href="tel:+358407350437"><i class="fas fa-phone"></i> +358407350437</a><a class="r-card__contact" href="mailto:"><i class="far fa-envelope"></i> lauri@tammijuuri.fi</a>
                <div class="r-card__text">Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja</div>
                <div class="r-card__tags"><span class="r-card__tag">Terassit</span><span class="r-card__tag">Katot</span><span class="r-card__tag">Puujulkisivut</span><span class="r-card__tag">Tasoitustyöt</span><span class="r-card__tag">Sisämaalaukset</span><span class="r-card__tag">Lattiat</span><span class="r-card__tag">Ovet ikkunat ja kalusteet</span></div>
              </div>
              <div class="r-card__more">
                <div class="r-card__more-button"><a class="button button--green" href="#">Pyydä tarjous!</a></div>
                <div class="house">
                  <div class="house__icon"><i class="fas fa-warehouse"></i></div>
                  <div class="house__value">11</div>
                </div>
              </div>
            </div>
            <div class="r-card" data-type="Nimi" data-categories="Katot">
              <div class="r-card__image-wrapper"><img class="r-card__image" src="http://via.placeholder.com/140x140" alt=""></div>
              <div class="r-card__content"><a class="r-card__title" href="#">Tammijuuri 1</a>
                <div class="r-card__placement"><i class="fas fa-map-marker"></i> HELSINKI</div><a class="r-card__contact" href="tel:+358407350437"><i class="fas fa-phone"></i> +358407350437</a><a class="r-card__contact" href="mailto:"><i class="far fa-envelope"></i> lauri@tammijuuri.fi</a>
                <div class="r-card__text">Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja</div>
                <div class="r-card__tags"><span class="r-card__tag">Terassit</span><span class="r-card__tag">Katot</span><span class="r-card__tag">Puujulkisivut</span><span class="r-card__tag">Tasoitustyöt</span><span class="r-card__tag">Sisämaalaukset</span><span class="r-card__tag">Lattiat</span><span class="r-card__tag">Ovet ikkunat ja kalusteet</span></div>
              </div>
              <div class="r-card__more">
                <div class="r-card__more-button"><a class="button button--green" href="#">Pyydä tarjous!</a></div>
                <div class="house">
                  <div class="house__icon"><i class="fas fa-warehouse"></i></div>
                  <div class="house__value">11</div>
                </div>
              </div>
            </div>
            <div class="r-card" data-type="Työnäytteet" data-categories="Puujulkisivut">
              <div class="r-card__image-wrapper"><img class="r-card__image" src="http://via.placeholder.com/140x140" alt=""></div>
              <div class="r-card__content"><a class="r-card__title" href="#">Tammijuuri 2</a>
                <div class="r-card__placement"><i class="fas fa-map-marker"></i> HELSINKI</div><a class="r-card__contact" href="tel:+358407350437"><i class="fas fa-phone"></i> +358407350437</a><a class="r-card__contact" href="mailto:"><i class="far fa-envelope"></i> lauri@tammijuuri.fi</a>
                <div class="r-card__text">Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja</div>
                <div class="r-card__tags"><span class="r-card__tag">Terassit</span><span class="r-card__tag">Katot</span><span class="r-card__tag">Puujulkisivut</span><span class="r-card__tag">Tasoitustyöt</span><span class="r-card__tag">Sisämaalaukset</span><span class="r-card__tag">Lattiat</span><span class="r-card__tag">Ovet ikkunat ja kalusteet</span></div>
              </div>
              <div class="r-card__more">
                <div class="r-card__more-button"><a class="button button--green" href="#">Pyydä tarjous!</a></div>
                <div class="house">
                  <div class="house__icon"><i class="fas fa-warehouse"></i></div>
                  <div class="house__value">11</div>
                </div>
              </div>
            </div>
            <div class="r-card" data-type="Palaute" data-categories="Tasoitustyöt">
              <div class="r-card__image-wrapper"><img class="r-card__image" src="http://via.placeholder.com/140x140" alt=""></div>
              <div class="r-card__content"><a class="r-card__title" href="#">Tammijuuri 3</a>
                <div class="r-card__placement"><i class="fas fa-map-marker"></i> HELSINKI</div><a class="r-card__contact" href="tel:+358407350437"><i class="fas fa-phone"></i> +358407350437</a><a class="r-card__contact" href="mailto:"><i class="far fa-envelope"></i> lauri@tammijuuri.fi</a>
                <div class="r-card__text">Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja</div>
                <div class="r-card__tags"><span class="r-card__tag">Terassit</span><span class="r-card__tag">Katot</span><span class="r-card__tag">Puujulkisivut</span><span class="r-card__tag">Tasoitustyöt</span><span class="r-card__tag">Sisämaalaukset</span><span class="r-card__tag">Lattiat</span><span class="r-card__tag">Ovet ikkunat ja kalusteet</span></div>
              </div>
              <div class="r-card__more">
                <div class="r-card__more-button"><a class="button button--green" href="#">Pyydä tarjous!</a></div>
                <div class="house">
                  <div class="house__icon"><i class="fas fa-warehouse"></i></div>
                  <div class="house__value">11</div>
                </div>
              </div>
            </div>
            <div class="r-card" data-type="Nimi" data-categories="Katot">
              <div class="r-card__image-wrapper"><img class="r-card__image" src="http://via.placeholder.com/140x140" alt=""></div>
              <div class="r-card__content"><a class="r-card__title" href="#">Tammijuuri 4</a>
                <div class="r-card__placement"><i class="fas fa-map-marker"></i> HELSINKI</div><a class="r-card__contact" href="tel:+358407350437"><i class="fas fa-phone"></i> +358407350437</a><a class="r-card__contact" href="mailto:"><i class="far fa-envelope"></i> lauri@tammijuuri.fi</a>
                <div class="r-card__text">Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja</div>
                <div class="r-card__tags"><span class="r-card__tag">Terassit</span><span class="r-card__tag">Katot</span><span class="r-card__tag">Puujulkisivut</span><span class="r-card__tag">Tasoitustyöt</span><span class="r-card__tag">Sisämaalaukset</span><span class="r-card__tag">Lattiat</span><span class="r-card__tag">Ovet ikkunat ja kalusteet</span></div>
              </div>
              <div class="r-card__more">
                <div class="r-card__more-button"><a class="button button--green" href="#">Pyydä tarjous!</a></div>
                <div class="house">
                  <div class="house__icon"><i class="fas fa-warehouse"></i></div>
                  <div class="house__value">11</div>
                </div>
              </div>
            </div>
            <div class="r-card" data-type="Työnäytteet" data-categories="Lattiat">
              <div class="r-card__image-wrapper"><img class="r-card__image" src="http://via.placeholder.com/140x140" alt=""></div>
              <div class="r-card__content"><a class="r-card__title" href="#">Tammijuuri 5</a>
                <div class="r-card__placement"><i class="fas fa-map-marker"></i> HELSINKI</div><a class="r-card__contact" href="tel:+358407350437"><i class="fas fa-phone"></i> +358407350437</a><a class="r-card__contact" href="mailto:"><i class="far fa-envelope"></i> lauri@tammijuuri.fi</a>
                <div class="r-card__text">Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja</div>
                <div class="r-card__tags"><span class="r-card__tag">Terassit</span><span class="r-card__tag">Katot</span><span class="r-card__tag">Puujulkisivut</span><span class="r-card__tag">Tasoitustyöt</span><span class="r-card__tag">Sisämaalaukset</span><span class="r-card__tag">Lattiat</span><span class="r-card__tag">Ovet ikkunat ja kalusteet</span></div>
              </div>
              <div class="r-card__more">
                <div class="r-card__more-button"><a class="button button--green" href="#">Pyydä tarjous!</a></div>
                <div class="house">
                  <div class="house__icon"><i class="fas fa-warehouse"></i></div>
                  <div class="house__value">11</div>
                </div>
              </div>
            </div>
            <div class="r-card" data-type="Palaute" data-categories="Terassit">
              <div class="r-card__image-wrapper"><img class="r-card__image" src="http://via.placeholder.com/140x140" alt=""></div>
              <div class="r-card__content"><a class="r-card__title" href="#">Tammijuuri 6</a>
                <div class="r-card__placement"><i class="fas fa-map-marker"></i> HELSINKI</div><a class="r-card__contact" href="tel:+358407350437"><i class="fas fa-phone"></i> +358407350437</a><a class="r-card__contact" href="mailto:"><i class="far fa-envelope"></i> lauri@tammijuuri.fi</a>
                <div class="r-card__text">Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja</div>
                <div class="r-card__tags"><span class="r-card__tag">Terassit</span><span class="r-card__tag">Katot</span><span class="r-card__tag">Puujulkisivut</span></div>
              </div>
              <div class="r-card__more">
                <div class="r-card__more-button"><a class="button button--green" href="#">Pyydä tarjous!</a></div>
                <div class="house">
                  <div class="house__icon"><i class="fas fa-warehouse"></i></div>
                  <div class="house__value">11</div>
                </div>
              </div>
            </div>
            <div class="r-card" data-type="Nimi" data-categories="Tasoitustyöt">
              <div class="r-card__image-wrapper"><img class="r-card__image" src="http://via.placeholder.com/140x140" alt=""></div>
              <div class="r-card__content"><a class="r-card__title" href="#">Tammijuuri 7</a>
                <div class="r-card__placement"><i class="fas fa-map-marker"></i> HELSINKI</div><a class="r-card__contact" href="tel:+358407350437"><i class="fas fa-phone"></i> +358407350437</a><a class="r-card__contact" href="mailto:"><i class="far fa-envelope"></i> lauri@tammijuuri.fi</a>
                <div class="r-card__text">Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja</div>
                <div class="r-card__tags"><span class="r-card__tag">Tasoitustyöt</span></div>
              </div>
              <div class="r-card__more">
                <div class="r-card__more-button"><a class="button button--green" href="#">Pyydä tarjous!</a></div>
                <div class="house">
                  <div class="house__icon"><i class="fas fa-warehouse"></i></div>
                  <div class="house__value">11</div>
                </div>
              </div>
            </div>
            <div class="r-card" data-type="Työnäytteet" data-categories="Puujulkisivut">
              <div class="r-card__image-wrapper"><img class="r-card__image" src="http://via.placeholder.com/140x140" alt=""></div>
              <div class="r-card__content"><a class="r-card__title" href="#">Tammijuuri 8</a>
                <div class="r-card__placement"><i class="fas fa-map-marker"></i> HELSINKI</div><a class="r-card__contact" href="tel:+358407350437"><i class="fas fa-phone"></i> +358407350437</a><a class="r-card__contact" href="mailto:"><i class="far fa-envelope"></i> lauri@tammijuuri.fi</a>
                <div class="r-card__text">Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja</div>
                <div class="r-card__tags"><span class="r-card__tag">Puujulkisivut</span></div>
              </div>
              <div class="r-card__more">
                <div class="r-card__more-button"><a class="button button--green" href="#">Pyydä tarjous!</a></div>
                <div class="house">
                  <div class="house__icon"><i class="fas fa-warehouse"></i></div>
                  <div class="house__value">11</div>
                </div>
              </div>
            </div>
            <div class="r-card" data-type="Palaute" data-categories="Katot">
              <div class="r-card__image-wrapper"><img class="r-card__image" src="http://via.placeholder.com/140x140" alt=""></div>
              <div class="r-card__content"><a class="r-card__title" href="#">Tammijuuri 9</a>
                <div class="r-card__placement"><i class="fas fa-map-marker"></i> HELSINKI</div><a class="r-card__contact" href="tel:+358407350437"><i class="fas fa-phone"></i> +358407350437</a><a class="r-card__contact" href="mailto:"><i class="far fa-envelope"></i> lauri@tammijuuri.fi</a>
                <div class="r-card__text">Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja</div>
                <div class="r-card__tags"><span class="r-card__tag">Katot</span></div>
              </div>
              <div class="r-card__more">
                <div class="r-card__more-button"><a class="button button--green" href="#">Pyydä tarjous!</a></div>
                <div class="house">
                  <div class="house__icon"><i class="fas fa-warehouse"></i></div>
                  <div class="house__value">11</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <div class="footer__row">
            <div class="footer__col footer__col--start">
              <div class="footer__title">Löydä lähin luotettava tekijä!</div>
              <div class="footer__text">Tekijäpankista löydät osaavat ja luotettavat tekijät maalaustyöllesi.</div><a class="footer__link" href="#">löydät</a>
            </div>
            <div class="footer__col">
              <div class="footer__title">Yleistä</div><a class="footer__link" href="#">löydät</a><a class="footer__link" href="#">löydät</a>
            </div>
            <div class="footer__col">
              <div class="footer__title">Seuraa meitä</div><a class="footer__link" href="#">Facebook</a><a class="footer__link" href="#">Google+</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/main.js"></script>
  </body>
</html>

src/templates/index.pug
extends layout

block title
	title main page

block content
	div.p-top
		div.container
			div.p-top__row
				div.h-search
					div.h-search__title Hae
					form.h-search__form
						input(type="text").h-search__input
						button(type='submit').h-search__button <i class="fas fa-search"></i>

				div.type
					div.type__title Lajitteluperuste
					div.type__row
						a(href="" data-type='Työnäytteet').type__item.type__item--active Työnäytteet 
						a(href="" data-type='Nimi').type__item Nimi
						a(href="" data-type='Palaute').type__item Palaute

	div.sort
		div.container
			div.sort__title Valitse maalaustyö
			div.sort__row
				a(href="#" data-category='Terassit').sort__item.button.button--tag Terassit
				a(href="#" data-category='Katot').sort__item.button.button--tag Katot
				a(href="#" data-category='Puujulkisivut').sort__item.button.button--tag Puujulkisivut
				a(href="#" data-category='Tasoitustyöt').sort__item.button.button--tag Tasoitustyöt
				a(href="#" data-category='Efektimaalaus').sort__item.button.button--tag Efektimaalaus
				a(href="#" data-category='Lattiat').sort__item.button.button--tag Lattiat
				a(href="#" data-category='Kivijulkisivut ja sokkelit').sort__item.button.button--tag Kivijulkisivut ja sokkelit
				a(href="#" data-category='Ovet ikkunat ja kalusteet').sort__item.button.button--tag Ovet ikkunat ja kalusteet

	div.s-note Ovet ikkunat ja kalusteet

	div.results
		div.container
			div(data-type='Nimi' data-categories='Katot').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 1
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Työnäytteet' data-categories='Puujulkisivut').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 2
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Palaute' data-categories='Terassit').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 3
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Nimi' data-categories='Katot').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 1
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Työnäytteet' data-categories='Puujulkisivut').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 2
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Palaute' data-categories='Tasoitustyöt').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 3
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Nimi' data-categories='Katot').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 4
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Työnäytteet' data-categories='Lattiat').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 5
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
						span.r-card__tag Tasoitustyöt
						span.r-card__tag Sisämaalaukset
						span.r-card__tag Lattiat
						span.r-card__tag Ovet ikkunat ja kalusteet
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Palaute' data-categories='Terassit').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 6
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Terassit
						span.r-card__tag Katot
						span.r-card__tag Puujulkisivut
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Nimi' data-categories='Tasoitustyöt').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 7
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Tasoitustyöt
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Työnäytteet' data-categories='Puujulkisivut').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 8
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Puujulkisivut
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11

			div(data-type='Palaute' data-categories='Katot').r-card
				div.r-card__image-wrapper
					img(src="http://via.placeholder.com/140x140", alt="").r-card__image
				div.r-card__content
					a(href="#").r-card__title Tammijuuri 9
					div.r-card__placement <i class="fas fa-map-marker"></i> HELSINKI
					a(href="tel:+358407350437").r-card__contact <i class="fas fa-phone"></i> +358407350437
					a(href="mailto:").r-card__contact <i class="far fa-envelope"></i> lauri@tammijuuri.fi
					div.r-card__text Tammijuuri on ystävällinen ja ihmisläheinen maalausliike Helsingistä. Keskityn pääasiassa asuinhuoneistojen ja pienten liiketilojen pintakäsittelyyn. Toiminta-alueeni on pääosin pääkaupunkiseudulla. Maalarin palveluiden lisäksi teen myös tapetoinnit, laminaattilattioiden asennukset, nauhoitus-, tasoite-, ja verkotustyöt sekä pienet ulkomaalaustyöt ammattitaidolla ja asiakkaiden toiveiden ehdolla. Maalauspalvelussani huomioin ympäristön ja luonnon muun muassa kierrättämällä kaiken mahdollisen työstä aiheutuvan jätteen ja käyttämällä ympäristöystävällisiä tarvikkeita ja materiaaleja
					div.r-card__tags
						span.r-card__tag Katot
				div.r-card__more
					div.r-card__more-button
						a(href="#").button.button--green Pyydä tarjous!
					div.house
						div.house__icon <i class="fas fa-warehouse"></i>
						div.house__value 11
